# SPDX-License-Identifier: GPL-3.0-or-later

[Match]
Name=br0

[Network]
DHCP=yes
IPv6PrivacyExtensions=yes

[Link]
MTUBytes=9000

[DHCPv4]
RouteMetric=512

[DHCPv6]
RouteMetric=512
