# The Ethernet interface must not have DHCP or an IP address associated as the bridge requires an interface to bind to with no IP.
# SPDX-License-Identifier: GPL-3.0-or-later

#[Match]
#Name=enp2s0
#
#[Network]
#DHCP=yes
#IPv6PrivacyExtensions=yes
#
#[Link]
#MTUBytes=9000
#
#[DHCPv4]
#RouteMetric=256
#
#[DHCPv6]
#RouteMetric=256
